In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('resources/CLEAN_FIFA23_official_data.csv')

In [4]:
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Position,Joined,Loaned From,Contract Valid Until,Height(cm.),Weight(lbs.),Release Clause(£),Kit Number,Best Overall Rating,Year_Joined
0,0,209658,L. Goretzka,27,https://cdn.sofifa.net/players/209/658/23_60.png,Germany,https://cdn.sofifa.net/flags/de.png,87,88,FC Bayern München,...,SUB,2018-07-01,NaN,2026.0,189.0,180.810,157000000.0,8.0,0.0,2018
1,1,212198,Bruno Fernandes,27,https://cdn.sofifa.net/players/212/198/23_60.png,Portugal,https://cdn.sofifa.net/flags/pt.png,86,87,Manchester United,...,LCM,2020-01-30,NaN,2026.0,179.0,152.145,155000000.0,8.0,0.0,2020
2,2,224334,M. Acuña,30,https://cdn.sofifa.net/players/224/334/23_60.png,Argentina,https://cdn.sofifa.net/flags/ar.png,85,85,Sevilla FC,...,LB,2020-09-14,NaN,2024.0,172.0,152.145,97700000.0,19.0,0.0,2020
3,3,192985,K. De Bruyne,31,https://cdn.sofifa.net/players/192/985/23_60.png,Belgium,https://cdn.sofifa.net/flags/be.png,91,91,Manchester City,...,RCM,2015-08-30,NaN,2025.0,181.0,154.350,198900000.0,17.0,0.0,2015
4,4,224232,N. Barella,25,https://cdn.sofifa.net/players/224/232/23_60.png,Italy,https://cdn.sofifa.net/flags/it.png,86,89,Inter,...,RCM,2020-09-01,NaN,2026.0,172.0,149.940,154400000.0,23.0,0.0,2020

In [5]:
df["Preferred Foot"].value_counts()

Preferred Foot
Right    13651
Left      4009
Name: count, dtype: int64

In [6]:
df["Potential"].min(), df["Potential"].max()

(42, 95)

In [7]:
df["Overall"].min(), df["Overall"].max()

(43, 91)

In [8]:
df["Value(£)"].min()

0.0

In [11]:
df[df["Name"] == "L. Messi"].select_dtypes(include="number")

,Unnamed: 0,ID,Age,Overall,Potential,Value(£),Wage(£),Special,International Reputation,Weak Foot,Skill Moves,Contract Valid Until,Height(cm.),Weight(lbs.),Release Clause(£),Kit Number,Best Overall Rating,Year_Joined
56,56,158023,35,91,91,54000000.0,195000.0,2190,5.0,4.0,4.0,2023.0,169.0,147.735,99900000.0,30.0,0.0,2021

: